/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('../assets/backgroundimage.jpg') no-repeat center center fixed; 
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header styles */
header {
    background-color: rgba(255, 99, 71, 0.9); 
    color: white;
    padding: 1rem;
    width: 100%;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 50px;
    margin-right: 1rem;
}

header .logo h1 {
    font-size: 2rem; 
}

header .user-info {
    display: flex;
    align-items: center;
}

/* Form styles */
section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333; 
    background-color: #fff; 
}

input::placeholder {
    color: #999; 
}

button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: #333; 
    color: white; 
}

button:hover {
    background-color: #555;
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
    width: 100%;
}

footer p {
    margin: 0;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info .profile-pic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 0.5rem;
}

.user-info #username {
    font-size: 1rem;
    color: white;
}
